/* Fixes things, not really sure what but it works. */
* {
	margin: 0px;
	padding: 0px;
}

/* This works for the canvas (100% and 100%), should probably be left untouched. */
canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}
/* Just to be sure. */
body {
	width: 100%;
	height: 100%;
}

/* Holds the menu-image and start-button */
#menu-container {
	position: relative;
}

/* background imager for the main menu */
#menu-image {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
/* starts the game from the main menu */
#start-button {
	width: 30%;
	height: auto;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	top: 55%;
	left: 40%;
	margin: auto;
	display: block;
}
/* goes back to menu / exits app */
#back-button {
	width: 15%;
	height: auto;
	position: absolute;
	bottom: 1%;
	left: 5%;
	display: block;
}
/* Launcehs a small animation (BROKEN ATM, DOESN*T WAIT FOR COMPLETION) */
#start-button:focus {
	animation-name: start-button-click;
	animation-duration: 1s;
}
/* Hides the <img> tags in HTML, they are used for texture loading */
img {
	display: none;
}
/* Holds all the penguinbuttons */
#penguin-container {
	display: none;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 10%;
	bottom: 23%;
	text-align: center;
}
/* remoces the ugly default borders from the buttons */
button {
	border: none;
}
/* Class for the PenguinButtons */
button.penguin {
	margin-left: 1%;
	width: 15%;
	height: 100%;
	z-index = 3;
	display: inline-block;
	background: url(../res/textures/transparentPingu.svg);
	background-size: 100% 100%;
}
/* Makes the curently chosen penguin visible */
button.penguin:focus {
	border-style: solid;
	border-width: thin;
}
/* backgrounds for all the PenguinButtons */
#redbutton {
	background: url(../res/textures/redPingu.svg);
	background-size: 100% 100%;
}
#bluebutton {
	background: url(../res/textures/bluePingu.svg);
	background-size: 100% 100%;
}
#greenbutton {
	background: url(../res/textures/greenPingu.svg);
	background-size: 100% 100%;
}
#yellowbutton {
	background: url(../res/textures/yellowPingu.svg);
	background-size: 100% 100%;
}
#silverbutton {
	background: url(../res/textures/silverPingu.svg);
	background-size: 100% 100%;
}
/* Style for the popup div */
#game-popup {
	background: url(../res/textures/popup-background.png);
	background-size: 100% 100%;
	display: none;
	position: absolute;
	bottom: 38%;
	width: 100%;
	height: 45%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}
#popup-information {
	margin-top: 5%;
	margin-left: 8%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 150%;
}

/* Class for the popup buttons and popuppenguins */
#popup-aligner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 38%;
}
/* the penguin images that are shown in popup windows */
#popup-penguin1 {
	display: inline-block;
	width: 10%;
	height: auto;
	margin-right: 4%;
	margin-bottom: 5%;
	vertical-align: middle;
	/* flip horizontally */
	-webkit-transform: scaleX(-1);
}
#exit-button {
	display: inline-block;
	width: 25%;
	height: auto;
	margin-left: 1%;
	vertical-align: middle;
}
#restart-button {
	display: inline-block;
	width: 25%;
	height: auto;
	margin-top: 8%;
	margin-left: 1%;
	vertical-align: middle;
}
#popup-penguin2 {
	display: inline-block;
	width: 10%;
	height: auto;
	margin-left: 4%;
	margin-bottom: 5%;
	vertical-align: middle;
}

#background-dimmer {
    background:#000;
    opacity:0.5;
    position:fixed; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    /*z-index:9999; /* may not be necessary */
}


/* Set the Penguins to be on top of the background. */
#hud-layer {
	z-index = 2;
}
#penguin-layer {
	z-index = 1;
}
#background-layer {
	z-index = 0;
}

/* Tiny animation for the start-button */
@keyframes start-button-click {
	from {width: 30%;}
	to {width: 50%;}
}
